{% extends "::base.html.twig" %}

{% block title %}MobileapiBundle:maintenancemobile:List_MaintenanceUser{% endblock %}

{% block body %}
<h1>Welcome to the maintenancemobile:List_MaintenanceUser page</h1>
{% endblock %}
