{% extends "::base.html.twig" %}

{% block title %}MaitenanceBundle:maitenance:Update_Product_Maitenance{% endblock %}

{% block body %}
<h1>Welcome to the maitenance:Update_Product_Maitenance page</h1>
{% endblock %}
