{% extends "::base.html.twig" %}

{% block title %}MobileapiBundle:Acessoiremobile:AllAccessoires{% endblock %}

{% block body %}
<h1>Welcome to the Acessoiremobile:AllAccessoires page</h1>
{% endblock %}
