{% extends "::base.html.twig" %}

{% block title %}MobileapiBundle:Acessoiremobile:DeleteAccessoire{% endblock %}

{% block body %}
<h1>Welcome to the Acessoiremobile:DeleteAccessoire page</h1>
{% endblock %}
