{% extends "::base.html.twig" %}

{% block title %}MobileapiBundle:Acessoiremobile:UpdateAccessoire{% endblock %}

{% block body %}
<h1>Welcome to the Acessoiremobile:UpdateAccessoire page</h1>
{% endblock %}
