{% extends "::base.html.twig" %}

{% block title %}MobileapiBundle:Reclamationmobile:DeleteReclamation{% endblock %}

{% block body %}
<h1>Welcome to the Reclamationmobile:DeleteReclamation page</h1>
{% endblock %}
