{% extends "::base.html.twig" %}

{% block title %}MobileapiBundle:Reclamationmobile:ListReclamationUsers{% endblock %}

{% block body %}
<h1>Welcome to the Reclamationmobile:ListReclamationUsers page</h1>
{% endblock %}
