{% extends "::base.html.twig" %}

{% block title %}MobileapiBundle:Reclamationmobile:ListReclamationUser{% endblock %}

{% block body %}
<h1>Welcome to the Reclamationmobile:ListReclamationUser page</h1>
{% endblock %}
