{% extends "::base.html.twig" %}

{% block title %}MobileapiBundle:Categoriemobile:AllCategories{% endblock %}

{% block body %}
<h1>Welcome to the Categoriemobile:AllCategories page</h1>
{% endblock %}
